<h1><%= @user.name %></h1>

<p>メールアドレス:<%= @user.email %></p>

<%= link_to 'お気に入り写真一覧', favorites_user_path(@user.id), method: :get, class: 'btn btn-danger' %>

 <p><%= link_to 'ホームに戻る', posts_path, class:"btn btn-primary btn-lg" %></p>
